<NCIPMessage version="http://www.niso.org/ncip/v1_0/imp1/dtd/ncip_v1_0.dtd">
  <AcceptItem>
    <InitiationHeader>
      <FromAgencyId>
        <UniqueAgencyId>
          <Scheme>http://www.niso.org/ncip/v1_0/schemes/agency.scm</Scheme>
          <Value>{{this.getFromAgency}}</Value>
        </UniqueAgencyId>
      </FromAgencyId>
      <ToAgencyId>
        <UniqueAgencyId>
          <Scheme>hhttp://www.niso.org/ncip/v1_0/schemes/agency.scm</Scheme>
            <Value>{{this.getPickupLocationString}}</Value>
        </UniqueAgencyId>
      </ToAgencyId>
    </InitiationHeader>
    <UniqueRequestId>
      <UniqueAgencyId>
        <Scheme>http://www.niso.org/ncip/v1_0/schemes/agency.scm</Scheme>
        <Value>{{this.getFromAgency}}</Value>
      </UniqueAgencyId>
      <RequestIdentifierValue>{{this.getRequestId}}</RequestIdentifierValue>
    </UniqueRequestId>
    <RequestedActionType>
      <Scheme>http://www.niso.org/ncip/v1_0/imp1/schemes/requestedactiontype/requestedactiontype.scm</Scheme>
      <Value>Hold For Pickup</Value>
    </RequestedActionType>
    <UniqueUserId>
      <UniqueAgencyId>
        <Scheme>http://www.niso.org/ncip/v1_0/schemes/agency.scm</Scheme>
        <Value>{{this.getToAgency}}</Value>
      </UniqueAgencyId>
      <UserIdentifierValue>{{this.getUserId}}</UserIdentifierValue>
    </UniqueUserId>
    <UniqueItemId>
      <UniqueAgencyId>
        <Scheme>http://www.niso.org/ncip/v1_0/schemes/agency.scm</Scheme>
        <Value>{{this.getFromAgency}}</Value>
      </UniqueAgencyId>
      <ItemIdentifierValue>{{this.getItemId}}</ItemIdentifierValue>
    </UniqueItemId>
    <ItemOptionalFields>
      <BibliographicDescription>
        <Author>{{this.getAuthor}}</Author>
        <Title>{{this.getTitle}}</Title>
      </BibliographicDescription>
    </ItemOptionalFields>
  </AcceptItem>
</NCIPMessage>